<h1>edit empresa</h1>
<% @empresa.errors.full_messages.each do |message| %>
  <%= message %>
  <% end %>
  <%= form_for @empresa, url:'empresas#update' do |f| %>
    <%= f.label :nome %> <br>
    <%= f.text_field :nome %>
    <br>
    <%= f.label :setpr %> <br>
    <%= f.text_field :setor %>
    <br><br>
    <%= f.submit "Editar"%>
    <%= link_to 'Deletar', cadastro_empresa_path(@empresa), method: :delete, data: { confirm: "Tem certeza que deseja remover #{@empresa.nome}?" } %>

    <% end %>