<!DOCTYPE html>
<html>
<head>
  <title>Cadastro | RN</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body>
  <div class="container">
        <%= react_component ("Header")%>
        <%= yield %>
  </div>
</body>
<script type="text/javascript">
  console.log("Espero que eu consiga =)");
</script>
</html>
