<!DOCTYPE html>
<html>
  <head>
    <title>DesafioReal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Pessoas", root_path %>
    <%= link_to "Novo cadastro", new_pessoa_path %>
    <%= yield %>
  </body>
</html>
